/*
Author: Lars Oestreicher

The CSS for the bar layout. The CSS has been structured in a way that makes it easier to find
the definitions that are overriding each other. The styles are sorted from the most generic definitions (Element)
to the more specific definitions of groups of objects (Classes) ending with definitions for individual elements (Id).

Obviously the colours and other more aesthetic properties of this bar layout still leaves a lot to desire. It is a
challenge to make this display aesthetically pleasing. The best suggestion wins a price.
*/
body {
    background-color: lightgoldenrodyellow;
}

/*
We use a nice informal typeset for the pub ordering menu.
*/
div {
    font-family: "Chalkboard SE";
}

/*
Definition of a standard button of the interface.
*/
.button {
    background-color: darkslategrey;
    border: white solid 2px;
    height: 30px;
    width: 80px;
    color: white;
    padding: 5px;
    border-radius: 15px; /* Making the buttons corners more rounded. */
}




/*
The common definition of the menus.
*/
.menu {
    position: left;
    top: 145px;
    right: 50px;
    background-color: navajowhite;
    width: 700px;
    height: 500px;
    border: ghostwhite groove 5px;
    padding: 5px;
}

/*
Individual menu styles =============================
*/
#menutabs {
    position: left;
    top: 100px;
    right: 50px;
    width: 400px;
}
/*
The menu tabs are actually list items in a refined horisontal list.
*/
ul#mtabs {
    list-style: none;  /* Removes the bullet */
}

/*
The menu tabs
*/
#mtabs li {
    margin: 0;
    display: inline;
    padding: 0;
    list-style-type: none;
    border: 2px solid #0066FF;
    border-radius: 20px 5px;    
    text-align: center;
    background-color: #33ADFF;
    padding: 5px;
    
}
#mtabs a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }
  #mtabs a:hover {
    border-radius: 20px 5px;
    background-color: #0066FF;
  }
/* End menu styles ==========================
*/

#display {
    text-align: right;
    font-size: larger;
    background-color: darkgrey;
    color: white;

}


/*#kassa {
    position: absolute;
    top: 650px;
    left: auto;
}*/

#Wiskey {
    background-color: lightsteelblue;
}
#pubname {    
    
    /*width: 500px;*/
    text-align: center;
    font-size: xx-large;
    background: deepskyblue;
    color: navajowhite;
    padding: 10px;
    border: groove 5px ghostwhite;
}



